<body>
    <header>
        hello world
    </header>
    <main>
        <form>
            <textarea id="text" name="text" rows="5" cols="40"></textarea>
            <button type="button" id="saveBtn">保存</button>
            <button type="button" id="analyzeBtn">質問生成</button>
            <div id="loading"></div>
        </form>
    </main>
    <footer>
        <a href="/_test_base">ベース</a>
        <a href="/_test_list">リスト</a>
    </footer>
    <script>
        const textArea = document.getElementById("text");
        const saveBtn = document.getElementById("saveBtn");
        const analyzeBtn = document.getElementById("analyzeBtn");
        const loading = document.getElementById("loading")

        // loadingページから戻ってきた場合、セッションストレージから日記本文を取得してtextareaに表示
        const savedBody = sessionStorage.getItem("pending-diary-body");
        if (savedBody) {
            textArea.value = savedBody;
        }

        // 日記保存の関数
        async function saveDiary(diary) {
            try {
                const response = await fetch("/api/diaries", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({ body: diary })
                });
                if (!response.ok) {
                    throw new Error(`failed to save diary: ${response.status}`);
                }

                return await response.json();

            } catch (error) {
                console.error(error);
                alert("日記の保存に失敗しました");
                return null;
            }
        }

        // // 質問生成の関数
        // async function generateQuestions(diary) {
        //     try {
        //         const response = await fetch("/api/generate/questions", {
        //             method: "POST",
        //             headers: {
        //                 "Content-Type": "application/json",
        //             },
        //             body: JSON.stringify({ diary: diary })
        //         });
        //         if (!response.ok) {
        //             throw new Error(`failed to generate questions: ${response.status}`);
        //         }

        //         const result = await response.json();
        //         return result.questions;
        //     } catch (error) {
        //         console.error(error);
        //         alert("質問生成に失敗しました");
        //         return null;
        //     }
        // }

        // 日記保存のボタンクリックイベント
        saveBtn.addEventListener("click", async () => {
            const text = textArea.value;
            const savedDiary = await saveDiary(text);
            if (!savedDiary) {
                console.error("日記の保存に失敗しました");
                return;
            }
            console.log("日記を保存しました");
            console.log(savedDiary);
        });

        // 質問生成のボタンクリックイベント（ローディングページへ移動）
        analyzeBtn.addEventListener("click", async () => {
            const text = textArea.value;
            if (text.length === 0) {
                alert("日記を書いてから質問生成をしてください");
                return;
            }
            sessionStorage.setItem("pending-diary-body", text);
            window.location.href = "/_test_loading";
        });

        // // 質問生成のボタンクリックイベント
        // analyzeBtn.addEventListener("click", async () => {
        //     try {
        //         // 質問生成のロード
        //         loading.innerHTML = "MBTI診断のための質問を生成中...";
        //         saveBtn.disabled = true;
        //         analyzeBtn.disabled = true;

        //         // 日記の本文をセッションストレージに保存
        //         sessionStorage.setItem("pending-diary-body", textArea.value);

        //         // 日記のidを得る
        //         const savedDiary = await saveDiary(textArea.value);
        //         if (!savedDiary) {
        //             console.error("日記の保存に失敗しました");
        //             return;
        //         }
        //         const diaryId = savedDiary.id;

        //         // 質問を生成する
        //         const questions = await generateQuestions(savedDiary.body);
        //         if (!questions) {
        //             console.error("質問生成に失敗しました");
        //             return;
        //         }

        //         // 生成した質問を保存する
        //         const response = await fetch(`/api/diaries/${diaryId}/questions`, {
        //             method: "POST",
        //             headers: {
        //                 "Content-Type": "application/json",
        //             },
        //             body: JSON.stringify({ questions: questions })
        //         });
        //         if (!response.ok) {
        //             throw new Error(`failed to save questions: ${response.status}`);
        //         }

        //         const savedQuestions = await response.json();
        //         console.log(savedQuestions);
        //     } catch (error) {
        //         console.error(error);
        //         alert("質問保存に失敗しました");
        //     } finally {
        //         // 質問生成のロードを解除
        //         loading.innerHTML = "";
        //         saveBtn.disabled = false;
        //         analyzeBtn.disabled = false;
        //     }
        // })
    </script>
</body>