<body>
    <main>
        <h1>ログイン</h1>
        <button id="login-button">ログイン</button>
        <p id="error-message"></p>
    </main>

    <script type="module">
        import { onAuthStateChanged } from "https://www.gstatic.com/firebasejs/10.14.1/firebase-auth.js";
        import { auth, login, logout } from "/static/firebase-auth.js";

        const loginBtn = document.getElementById("login-button");
        const errorMessage = document.getElementById("error-message");

        loginBtn.addEventListener("click", async () => {
            if (auth.currentUser) {
                await logout();
            } else {
                try {
                    await login();
                } catch (error) {
                    errorMessage.textContent = error.message;
                }
            }
        });

        onAuthStateChanged(auth, (user) => {
            if (user) {
                window.location.href = "/diary-form";
            } else {
                loginBtn.textContent = "ログイン";
            }
        })
    </script>
</body>
